/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	box-sizing: border box; 
	-webkit-font-smoothing: antialiased;
}
label,
select,
textarea
{
	&:focus {
		outline: none;
	}
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Browsers have different default form fonts */
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
	*/
	pointer: cursor; 
  -webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
    background: $blue; 
    border: 1px solid transparent; 
    border-radius: 50px; 
    display: block;
    text-shadow:none;
    transition-duration: 300ms;
    transition-property: background, color, border; 
    transition-timing-function: linear; 
    vertical-align: top; 
		user-select: none; 
		color: $white; 
}
img {
  display: block;
  width: 100%;
  height: auto;
}

#user-icon{
	object-fit: cover;
	border-radius:50%;
	width: 35px;
	height: 35px; 
}

.ReactModal__Body--open {
	overflow: hidden;
}

.pointer{
	cursor: pointer;
}

input{
	&:focus {
		outline: none;
	}
  padding: 10px; 
  margin: 15px 10px;
  background: $gray-line;
  border: 1px solid transparent; 
  transition: border-color 300ms; 
  &:hover {
    border: 1px solid lightblue;
  }
  &:focus {
    background: $offwhite;
    border: 1px solid rgb(47, 120, 202);
  }
}