.comments-wrapper{
  float:none; 
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

.comment-list{
  display: flex; 
  flex-direction: column-reverse; 
}