.project-index{
  background: $background; 
  justify-content:flex-end; 
  position:absolute;
  top: 90px; 
  display:flex; 
  background: transparent;
}

.project-list{
  display: flex; 
  justify-content: center;
  flex-flow: row wrap; 
  
}

.project-card{
  box-sizing: border-box;
  margin: 0 10px 20px; 
  width: 202px;
  height: 300px;
  background-color:$white; 
  box-shadow: 0 1px 2px rgba(25,25,25,0.2); 

  .thumb{
    height: 158px; 
    border-radius: 3px 3px 0 0; 
    display:block;
  }
  .title{
    height: 36px; 
    display: block; 
    font-weight: bold; 
    line-height: 1.35;
    margin-bottom: 9px; 
    overflow: hidden; 
    padding-left:10px;
    padding-top: 5px;
  }

  .owners{
    height:30px; 
    line-height: 18px; 
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
    padding-left:10px;
    
  }
  .category{
    
  }

  .stats{
    height:40px; 
  }
}


// #modal-root {
//   position: relative;
//   z-index: 999;
// }

// .app {
//   height: 10em;
//   width: 10em;
//   background: lightblue;
//   overflow: hidden;
// }

// .modal {
//   background-color: rgba(0,0,0,0.5);
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .view-modal{
//   position: aboslute; 
//   width: 950px; 
//   height: 750px; 
//   top: 50%; 
//   left: 50%;
//   transform: translate(-50%, -50); 
//   border-radius: 7px;
//   padding: 10px;
//   background: white; 
// }

// .view-modal-overlay{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.75); 
// }