.main-content{
  height: 100%;
}
.project-index{
  background: $background; 
  justify-content:flex-end; 
  position:absolute;
  top: 90px; 
  display:flex; 
  background: transparent;
}

.project-list{
  display: flex; 
  justify-content: center;
  flex-flow: row wrap; 
  
}

.project-card{
  box-sizing: border-box;
  margin: 0 10px 20px; 
  width: 202px;
  height: 289px;
  background-color: white; 
  box-shadow: 0 2px 1px rgba(25,25,25,0.2); 

  .thumb{
    height: 158px; 
    border-radius: 3px 3px 0 0; 
    display:block;
  }
  .title{
    height: 27px; 
    display: block; 
    font-weight: bold; 
    line-height: 1.35;
    overflow: hidden; 
    padding-left:10px;
    padding-top: 10px;
    background-color: white;
    font-size: 15px;
  }

  .owners{
    
    height:36px; 
    line-height: 18px; 
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
    padding-bottom: 5px;
    background-color: white;
    display: flex; 
    align-items: center; 
    width: 90%;
    margin-left: 10px;
    border-bottom: 1px solid $lighter-gray;
    #card-user-icon{
      object-fit: cover;
      border-radius:50%;
      width: 25px;
      height: 25px; 
    }
    .author-card{
      font-size: 14px;
      position: relative; 
      left: 14px;  
    }
   
    
    
  }
  .category{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding: 7px 10px 0px;
    box-sizing: border-box; 
    font-family: inherit; 
    height: 42px;
    margin-top: 7px;
    font-size: 15px;
    color: gray;
    i{
      color: $light-gray;
    }
  }

  .stats{
    height:40px; 
    background-color: white;
    padding-top: 5px;
    
    
  }
}


// #modal-root {
//   position: relative;
//   z-index: 999;
// }

// .app {
//   height: 10em;
//   width: 10em;
//   background: lightblue;
//   overflow: hidden;
// }

// .modal {
//   background-color: rgba(0,0,0,0.5);
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .view-modal{
//   position: aboslute; 
//   width: 950px; 
//   height: 750px; 
//   top: 50%; 
//   left: 50%;
//   transform: translate(-50%, -50); 
//   border-radius: 7px;
//   padding: 10px;
//   background: white; 
// }

// .view-modal-overlay{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.75); 
// }