.nav-main{
  position: fixed;
  top: 0;
  width: 100%; 
  background: $black; 
  float: left; 
  height: 60px; 
  display:flex;
  justify-content: space-between; 

  .logo{
    color: $white; 
    text-decoration: none; 
    height:60px; 
    position: absolute;
    left: 20px;
    top: 0; 
    display: flex; 
    justify-content: space-between;
    width: 9%;
    align-items: center; 
  }

  div{
    box-sizing:border-box;
    width:calc(100% - 1040px); 
    display:flex; 
    justify-content:center;
    .nav-center-links{
      display: flex; 
      justify-content:space-around;
      align-items: center;
      width:100%; 
      li{
        display:flex; 
        justify-content: space-between;
        
        a{
          color: $light-gray;
          text-decoration: none; 
          font-size: 15px; 
          font-weight:bold;
        }
      }
      button{
        padding: 5px 10px;
        a{
          color:white; 
          text-decoration:none;
          font-size: 14px; 
          font-weight:550; 
        }
      }
    }
  }

  .login-signup{
    height:60px; 
    position: absolute;
    right: 25px;
    top: 0; 
    display: flex; 
    justify-content: space-between;
    width: 12%;
    // width: calc(100% - 500px);
    align-items: center; 
    a {
      text-decoration: none; 
      color: $light-gray;
    }
    img{
      object-fit: cover;
      border-radius:50%;
      width: 35px;
      height: 35px; 
    }
  }
}

