.project-show{
  // display:flex; 
  // flex-direction: row-reverse; 
  // height:1080px;
  position: relative; 
  height:100vh; 
  box-sizing: border-box; 
}

.items-index{
  // overflow: scroll;
  // // height:100%;
  // // padding: 0 69px; 

  position: absolute; 
  left: 0; 
  width: 80%;
  height: 100%; 
  overflow: scroll; 
}
.sidebar{
  position: absolute; 
  right: 0; 
  width: 20%; 
  // display: flex;
  // flex-direction: column;
  // width: 1400px; 
  // box-sizing: border-box;
  // // height:100vh; 
}

.sidebar-user-info{
  display:flex;
  box-sizing: border-box;
  height: 89px; 
  justify-content: space-between; 
  border-bottom:1px solid $gray-line; 
  border-left:1px solid $gray-line; 
  border-right:1px solid $gray-line; 
  padding: 20px; 
}

.sidebar-project-info{
  box-sizing: border-box; 
  border-bottom:1px solid $gray-line; 
  border-left:1px solid $gray-line; 
  border-right:1px solid $gray-line;  padding: 20px; 
  height: 123px;   
  display:flex;
  flex-direction:column;
  justify-content:space-around; 

  h2{
    font-size: 16px; 
    font-weight: bold; 
  }
  h4{
    font-size:14px; 
    color:$black; 
  }
}

.name-follow{
  box-sizing:border-box; 
  display:inline-block;

  h2{
    font-size: 16px; 
    font-weight: bold; 
  }

  button{
    font-size:13px;
    padding: 4px 13px;
    font-weight:bold; 
    margin-top:10px; 
  }
}

.sidebar-misc-links{
  box-sizing:border-box;
  display:flex; 
  justify-content: center; 

  button{
   font-weight: bold;
   font-size: 14px; 
   padding:  8px 32px; 
   margin: 10px 0 0 0; 
   position: relative; 
   top: 20px; 
  }
}

.view-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: -50%; 
  transform: translate(-50%, -50%); 
  // border: 1px solid #ccc;
  background: #fff;
  overflow:scroll; 
  WebkitOverflowScrolling: touch;
  // borderRadius: 4px;
  outline: none;
  height: 100%; 
  width:90%; 
  border-right:1px solid $gray-line; 
  opacity: 0 ; 
  transition: opacity 500ms ease-in-out; 
  box-sizing: border-box;
}

.view-modal-open{
  opacity: 1; 
}

.view-modal-close{
  opacity: 0; 
}

.view-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity:0;
  transition: opacity 500ms ease-in-out;
}
.view-modal-overlay-open{
  opacity: 1; 
}

.view-modal-overlay-close{
  opacity: 0; 
}

//modal animation from Jesse Couch on codepen

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}