// // Place all the styles related to the Sessions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  display: flex; 
  justify-content: center;
}

.login-form-box{
  border: 1px solid black;
  border-radius: 10px;
  display: flex; 
  margin: 20px;
  padding: 0 30px;
  // background-color: #f5f5f5;
}

.login-form{
  display: flex;
  justify-content: center;
  flex-direction:column;
  padding: 40px;
  input{
    margin-bottom: 20px;
  }
}

input[type="submit"] {
  // padding: 100px;
  // font-size:50px;
  // width:400px;
  height:40px;
  background-color:transparent;
}

.login-buttons{
  display: flex; 
  justify-content: space-around;
}

.login-input{
  width: 200px;
  padding: 10px;
  background-color: $lighter-gray;
  border-color: 1px solid transparent;
  &:focus{
    background-color: $white; 
  }
}

.session-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: -50%; 
  transform: translate(-50%, -50%); 
  border: 1px solid #ccc;
  background: #fff;
  overflow:auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px; 
}

.session-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
}

