.signup-form-container {
  display: flex; 
  justify-content: center;
}

.signup-form-box{
  border: 1px solid black;
  border-radius: 10px;
  display: flex; 
  margin: 20px;
  padding: 0 30px;
  // background-color: #f5f5f5;
}

.signup-form{
  display: flex;
  justify-content: center;
  flex-direction:column;
  padding: 40px;
  input{
    margin-bottom: 20px;
  }
}

input[type="submit"] {
  // padding: 100px;
  // font-size:50px;
  // width:400px;
  height:40px;
  background-color:transparent;
  margin-top:10px;
}

.signup-buttons{
  display: flex; 
  justify-content: space-around;
}

.signup-input{
  width: 89%;
  padding: 10px;
}