.hide{
  display: none; 
}
.splash-content{
  display: flex; 
  justify-content: center;
  justify-items: center;
  height: 100vh; 
}

.splash-title{
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  top: 30%; 
  align-items: center; 
  color: white;
  text-align: center; 
}
.splash-image{
  // background-image: url(https://i.imgur.com/JTsR15D.jpg); 
  // background-image: url(https://i.imgur.com/1E4AToR.jpg); 
  background-image: url(https://i.imgur.com/8SsGrbK.jpg); 
  // height: 400px;
  height: 100vh; 
  // object-fit: cover; 
  filter: brightness(.6); 
  background-size: cover; 
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 0 20px; 
  text-align: center; 
  width: 100%;
  position: fixed;
  top: 60px; 
  z-index:0; 
  align-items: center;
}
.splash-image-title{
  font-size: 70px; 
  font-weight: 900; 
  line-height: .95;
  margin: -13px auto 0; 
}

.demo-button{
  padding: 15px 40px;
  justify-content: center;
  width: 40%;
  border-radius: 7px; 
  margin-top: 55px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700; 
}

