<!DOCTYPE html>
<html>
  <head>
    <title>Enchant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/59c50d17b9.js"></script>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="bundle.js"></script>    
  </body>
</html>
